cleanup = false

manifest {
    name                                  = 'nf-highspeed-gwas'
    version                               = '1.0'
    description                           = 'Regenie GWAS at high speed'
    author                                = 'Edoardo Giacopuzzi'
    homePage                              = 'https://gitlab.fht.org/genome-analysis-unit/nf-pipeline-regenie'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=21.04.0'
}

singularity {
    cacheDir = '/project/alfredo/singularity'
}

// Global default params, used in configs
params {
    //this is set to true eventually from command line 
    //when you want to run pheno chunks using a master table
    with_master                   = false 
    
    //Required in master_table mode
    master_outdir                 = null
    master_log_dir                = null
    shared_config_file            = null
    pheno_chunk_size              = null
    missing_tolerance             = null
    max_gwas_submit               = 5
    gwas_submit_profile           = 'slurm'
    nextflow_module               = 'nextflow/21.10.6' //this needs to be the same module used for the master

    //Required inputs
    project                               = null
    genotypes_array                       = null
    genotypes_imputed                     = null
    genotypes_build                       = null
    genotypes_imputed_format              = null
    phenotypes_filename                   = null
    phenotypes_columns                    = null
    phenotypes_binary_trait               = null
    regenie_test                          = null
    chromosomes                           = 1..22 //extend to 23 to include X

    //Optional inputs
    outdir                                = null
    project_date                          = "`date`"
    covariates_filename                   = 'NO_COV_FILE'
    covariates_columns                    = ''
    ld_panel                              = 'NO_LD_FILE' //optional, but highly reccomended
    phenotypes_delete_missings            = false
    imputed_snplist                       = false //optional file, but highly reccomended
    genes_bed                             = false
    genes_ranges                          = false
    save_snplist                          = true
    save_bgen_index                       = true
    save_step2_logs                       = false

    //SNP_PRUNING process
    prune_enabled                         = false
    prune_maf                             = 0.01
    prune_window_kbsize                   = 1000
    prune_step_size                       = 100
    prune_r2_threshold                    = 0.9

    //QC_FILTER process
    qc_maf                                = '0.01'
    qc_mac                                = '100'
    qc_geno                               = '0.05'
    qc_hwe                                = '1e-15'
    qc_mind                               = '0.1'

    //REGENIE_STEP1 + REGENIE_STEP_2 process
    regenie_bsize_step1                   = 1000
    regenie_bsize_step2                   = 400
    regenie_sample_file                   = 'NO_SAMPLE_FILE'
    regenie_premade_predictions           = false
    regenie_skip_predictions              = false
    save_step1_predictions                = false
    regenie_min_imputation_score          = 0.00
    regenie_min_mac                       = 50
    regenie_range                         = ''
    regenie_firth                         = true
    regenie_firth_approx                  = true
    regenie_force_step1                   = false
    regenie_ref_first_step1               = false
    regenie_ref_first_step2               = true
    step1_use_loocv                       = false
    step1_niter                           = 30
    step1_n_chunks                        = 100
    step2_split_by                        = 'chunk'
    step2_chunk_size                      = 100000
    
    //FILTER_RESULTS and CLUMPING step
    annotation_min_log10p                 = 6
    annotation_interval_kb                = 25
    clumping                              = true
    clump_p1                              = 5e-8
    clump_p2                              = 1e-4
    clump_kb                              = 250

    //REPORT process
    plot_ylimit                           = 0
    manhattan_annotation_enabled          = true
}

//PIPELINE TRACE FILES
report_file = "${launchDir}/gwas-pipeline_report.html"
timeline_file = "${launchDir}/gwas-pipeline_timeline.html"

report {
    enabled = true
    file = "${report_file}"
}

timeline {
    enabled = true
    file = "${timeline_file}"
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Set pipeline container
process.container = 'edg1983/gwas-nf-pipeline:v0.1'

// Computational environments
profiles {
    debug { process.beforeScript          = 'echo $HOSTNAME' }

    test  {
        includeConfig 'conf/test.config'
    }

    slurm {
        workDir = "/scratch/$USER/nf-gwas-work"
        process.queue = 'cpuq'
        executor {
            name = 'slurm'
            queueSize = 500
            pollInterval = '30 sec'
        }
        singularity.cacheDir              = '/project/alfredo/singularity/'
        singularity.enabled               = true
        singularity.autoMounts            = true
        docker.enabled                    = false
    }
}
