process {

    withLabel: 'process_plink2' {
        cpus   =  8
        memory =  16.GB
    }

    withLabel: 'required_memory_report' {
        memory =  6.GB
    }

    //recommend to run regenie using multi-threading (8+ threads)
    withName: 'REGENIE_STEP1|REGENIE_STEP2'
    {
        cpus   = 32
        memory = 64.GB
    }

}
