process {
    container = 'htgenomeanalysisunit/gwas-nf-pipeline:0.7'

    // Resource limits to prevent jobs from requesting more than available
    resourceLimits = [
        cpus: 128,
        memory: 512.GB,
        time: 7.d
    ]

    cpus   = { 1    * task.attempt }
    memory = { 4.GB * task.attempt }
    time   = { 1.h  * task.attempt }

    // memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in [143,137,104,134,139,140,247] ? 'retry' : 'finish' }
    maxRetries    = 3

    withLabel: 'regenie' {
        container = 'ghcr.io/rgcgithub/regenie/regenie:v4.0.gz'
    }

    withLabel: 'plink_clump' {
        cpus   = 1
        time   = { 4.h  * task.attempt }
    }
    
    withLabel: 'process_plink2' {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }

    withLabel: 'html_report' {
        //errorStrategy = { task.exitStatus in [143,137,104,134,139,140,247] ? 'retry' : 'ignore' }
        cpus   = { 1     * task.attempt }
        memory = { 32.GB * task.attempt }
        container = 'edg1983/gwas-rmd-reports:v3.0'
    }

    //recommend to run regenie using multi-threading (8+ threads)
    withLabel: 'step1_single'
    {
        cpus   = { 12    * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 6.h  * task.attempt }
    }

    withLabel: 'step1_runl0'
    {
        cpus   = { 2    * task.attempt }
        memory = { 12.GB * task.attempt }
    }

    withLabel: 'step1_runl1'
    {
        cpus   = { 6    * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }

    withLabel: 'step2_gwas'
    {
        cpus   = { 8     * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }

    withLabel: 'step2_rarevar'
    {
        cpus   = { 8     * task.attempt }
        memory = { 42.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }

    withLabel: 'small_task'
    {
        cpus = 1
        memory = { 2.GB * task.attempt }
    }

    withName: 'CONCAT_STEP2_RESULTS'
    {
        cpus = 1
        memory = 8.GB
    }

}
