process {

    withLabel: 'plink_clump' {
        cpus = 1
        memory = 16.GB
    }
    
    withLabel: 'process_plink2' {
        cpus   =  8
        memory =  12.GB
    }

    withLabel: 'process_bgenix' {
        cpus = 1
        memory = 8.GB
    }

    withLabel: 'required_memory_report' {
        cpus = 4
        memory = 24.GB
        containerOptions = '--no-home --cleanenv'
    }

    //recommend to run regenie using multi-threading (8+ threads)
    withLabel: 'step1_single'
    {
        cpus   = 16
        memory = 12.GB
    }

    withLabel: 'step1_runl0'
    {
        cpus = 4
        memory = 8.GB
    }

    withLabel: 'step1_runl1'
    {
        cpus = 16
        memory = 12.GB
    }

    withLabel: 'step2_bychunk'
    {
        cpus = 8
        memory = 4.GB
    }

    withLabel: 'submit_gwas'
    {
        cpus = 1
        memory = 4.GB
        clusterOptions = '--export=NONE'
        module = "${params.nextflow_module}:singularity"
        container = ''
    }

    withLabel: 'prepare_project'
    {
        cpus = 1
        memory = 1.GB
    }

    withName: 'CONCAT_STEP2_RESULTS'
    {
        cpus = 1
        memory = 4.GB
    }

}
