workDir = "$baseDir/tests/work"

params {
    outdir = "$baseDir/tests/output"
    make_report = false
}

report {
    enabled = false
}

timeline {
    enabled = false
}

process {
   withLabel: 'plink_clump' {
        cpus = 1
        memory = 8.GB
    }
    
    withLabel: 'process_plink2' {
        cpus   = 1
        memory = 8.GB
    }

    withLabel: 'html_report' {
        cpus   = 1
        memory = 8.GB
        container = 'edg1983/gwas-rmd-reports:v2.0'
        containerOptions = '-B $TMPDIR --cleanenv'
    }

    //recommend to run regenie using multi-threading (8+ threads)
    withLabel: 'step1_single'
    {
        cpus   = 4
        memory = 8.GB
    }

    withLabel: 'step1_runl0'
    {
        cpus   = 4
        memory = 4.GB
    }

    withLabel: 'step1_runl1'
    {
        cpus   = 4
        memory = 4.GB
    }

    withLabel: 'step2_gwas'
    {
        cpus   = 1
        memory = 4.GB
    }

    withLabel: 'step2_rarevar'
    {
        cpus   = 1
        memory = 4.GB
    }

    withLabel: 'small_task'
    {
        cpus = 1
        memory = 2.GB
    }

    withName: 'CONCAT_STEP2_RESULTS'
    {
        cpus = 1
        memory = 2.GB
    }
}
