/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run genepi/nf-gwas -r <tag> -profile test,<docker/singularity>
----------------------------------------------------------------------------------------
*/

params {
    project                       = 'test-gwas'
    genotypes_array               = "$baseDir/tests/input/pipeline/example.{bim,bed,fam}"
    genotypes_imputed             = "$baseDir/tests/input/pipeline/example.bgen"
    imputed_snplist               = "$baseDir/tests/input/pipeline/example.snplist"
    genotypes_build               = 'hg19'
    genotypes_imputed_format      = 'bgen'
    phenotypes_filename           = "$baseDir/tests/input/pipeline/phenotype.txt"
    phenotypes_columns            = 'Y1,Y2'
    phenotypes_binary_trait       = false
    regenie_test                  = 'additive'
    annotation_min_log10p         = 2
    step1_n_chunks                = 5
    step2_split_by                = 'chunk'
    step2_chunk_size              = 500
}

singularity {
    cacheDir              = '/project/alfredo/singularity/'
    enabled               = true
    autoMounts            = true
}

process {

    withLabel: 'plink_clump' {
        cpus = 1
        memory = 64.GB
    }
    
    withLabel: 'process_plink2' {
        cpus   =  1
        memory =  4.GB
    }

    withLabel: 'required_memory_report' {
        memory =  2.GB
    }

    //recommend to run regenie using multi-threading (8+ threads)
    withLabel: 'step1_single'
    {
        cpus   = 4
        memory = 8.GB
    }

    withLabel: 'step1_runl0'
    {
        cpus = 2
        memory = 4.GB
    }

    withLabel: 'step1_runl1'
    {
        cpus = 2
        memory = 4.GB
    }

    withLabel: 'step2_bychunk'
    {
        cpus = 2
        memory = 4.GB
    }

}
