singularity {
    enabled               = true
    autoMounts            = true
}

process {
    withLabel: 'plink_clump' {
        cpus = 1
        memory = 2.GB
    }
    
    withLabel: 'process_plink2' {
        cpus   =  1
        memory =  2.GB
    }

    withLabel: 'required_memory_report' {
        memory =  2.GB
    }

    //recommend to run regenie using multi-threading (8+ threads)
    withLabel: 'step1_single'
    {
        cpus   = 4
        memory = 4.GB
    }

    withLabel: 'step1_runl0'
    {
        cpus = 1
        memory = 2.GB
    }

    withLabel: 'step1_runl1'
    {
        cpus = 1
        memory = 2.GB
    }

    withLabel: 'step2_bychunk'
    {
        cpus = 1
        memory = 2.GB
    }
}
